/* ---------------- global --------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap");

html {
  scroll-behavior: smooth !important;
}
html,
body {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.5;
  font-size: 16.5px !important;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  /* overflow-x: hidden; */
}

/* body {
  background: #08aeea; 
 
  background: -webkit-linear-gradient(
    0deg,
    #0841ab 0%,
    #08aeea 45%,
    #2af598 100%
  ); 
  background: linear-gradient(
    0deg,
    #0841ab 0%,
    #08aeea 45%,
    #2af598 100%
  ); 
} 
*/

/* body a {
  color: whitesmoke;
  text-decoration: none;
} */

/*  buttons  */
.btn__wrapper {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  /* color: whitesmoke; */
}
/* .greeting > .greeting-btn {
  padding: 48px;
} */
/* .back-to-top__btn > p, */

.hidden {
  opacity: 0;
  transition: linear 0.3s 0.2s;
}
button.btn {
  cursor: pointer;
  display: flex;
  /* height: 56px;
  width: 56px;
  border-radius: 50%; */
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.btn--wide {
  max-width: 100%;
  width: calc(28% - 2vw);
  min-width: 185px;
}
.btn--primary,
.btn--secondary {
  /* width: max-content; */
  border: 1px solid transparent;
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  padding: 0.5rem 1.5rem !important;
  font-weight: 800;
  letter-spacing: 0.094em;
  color: #fafafa;
  transition: background-color ease 500ms !important;
}
.btn--primary {
  background-color: #ffa100;
}
.btn--primary:hover,
.btn--secondary:hover {
  background-color: #8eb0ff;
}
.btn--secondary {
  background-color: #00c19b;
}

/* typography */

#my-name,
#my-name-eng {
  font-weight: 900;
}
#my-name {
  font-size: calc(0.8vw + 1.7rem);
}
#my-name-eng {
  font-size: calc(0.8vw + 1.2rem);
}
.typography-fluid h1 {
  font-size: calc(0.8vw + 1.5rem);
  margin-bottom: calc(0.1vh + 0.5rem) !important;
  line-height: 1.2;
}
.typography-fluid p,
.typography-fluid--greeting p {
  line-height: 1.5;
  /* text-justify: auto; */
  /* text-align: justify; */
}
.typography-fluid p {
  font-size: calc(0.3vw + 1rem);
}
.typography-fluid--greeting h1,
.typography-fluid--greeting p {
  font-family: "Montserrat", sans-serif !important;

  font-weight: 800 !important;
}
.typography-fluid--greeting h1 {
  font-weight: 900;
}
.typography-fluid--greeting p {
  font-size: calc(0.5vw + 1rem);
  /* font-weight: 700; */
}
.typography-fluid a {
  color: #639d79;
}
.typography-fluid a:focus {
  outline: 1.5px dotted #ffa100 !important;
}
.typography-fluid a:active,
.typography-fluid a:hover {
  color: #ffa100;
}
.typography-fluid a:hover {
  text-decoration: underline;
}
.typography-fluid--label {
  font-weight: 700;
  /* padding-top: 0.8rem;
  padding-bottom: 0.5rem; */
  line-height: 2;
}

p {
  margin-bottom: 0 !important;
}
nav span {
  font-weight: 700;
  color: #161616;
}
.section-title {
  color: #413f3f;
  text-align: center;
  display: block;
  line-height: 1.2;
  padding-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 700;
}
.greeting-content,
.about,
.project-preview,
.project,
.contact {
  color: #161616;
}

.about a,
.project-preview a,
.project a {
  font-weight: 700;
  /* color: whitesmoke; */
  text-decoration: none;
}
/* end: typography */

/* illustration */
.illustration {
  max-width: 80ch;
  object-fit: cover;
  opacity: 0.6;
  width: 100%;
}
/* end: illustration */

/* layout */

.container-fluid {
  max-width: 1600px;
  width: calc(100% - 2.5rem);
  margin: 0 auto;
  /* padding: 1rem 2rem; */
}

.container-fluid--dark {
  position: relative;
}
.container-fluid--dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  margin: 0 calc(-50vw + 50%) !important;
  max-width: 100vw !important;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.content-wrapper {
  max-width: 80ch;
  margin: 0 auto;
  min-height: 10vh;
  z-index: 1;
}

.content-wrapper p {
  text-align: justify;
}
.about,
.project-preview,
.contact {
  padding: calc(2vw + 2.5rem) 0;
}

/* end: layout */
/* ------------- end: global ------------- */

/* ---------------- header --------------- */
header {
  transition: linear 0.3s 0.2s;
  margin-bottom: 1.45rem;
  position: fixed;
  width: 100%;
  top: -1px;
  z-index: 15;
}
.header-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  width: calc(100% - 2.5rem);
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__site-title img {
  object-fit: cover;
  object-position: center;
  height: auto;
  min-width: 3rem;
  width: calc(2vw + 4rem);
  margin: 0;
}
header:hover {
  background: #29f399;
}

.shadow::after {
  /* position: absolute; */
  height: 110%;
  content: "";

  top: -5px;
  left: -1px;
  z-index: -1 m;
  width: 100%;
  overflow: hidden;
}
.shadow {
  background-color: #29f398b9;
  box-shadow: 0px 4px 13px -1px rgba(59, 44, 59, 0.75);
  transition: ease-in-out 300ms 200ms;
}

nav {
  z-index: 20;
  display: flex;
}
nav :not(:last-child) {
  margin-right: 1rem;
}
.nav-active span {
  color: red;
}

/* ------------- end: header ------------- */

/* --------------- greeting -------------- */

@keyframes grow {
  from {
    clip-path: ellipse(0% 0% at 50% -5%);
    /* transform: scaleX(1); */
  }
  to {
    clip-path: ellipse(140% calc(90% - 1rem) at 50% 0%);
    /* transform: scaleX(2.5); */
  }
}

.greeting {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  z-index: 0;
}
/* greeting background */
.greeting {
  background-image: url("../data/images/bg.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* greeting section layout */
.greeting {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0 1rem;
}
.greeting-content,
.greeting-illustration {
  grid-row: 1/2;
  align-self: center;
}
.greeting-content {
  grid-column: 2/6;
  z-index: 1;
  justify-self: left;
}
.greeting-illustration {
  grid-column: 5/10;
  justify-self: right;
}
@media only screen and (max-width: 800px) {
  .greeting {
    grid-template-columns: 1fr;
  }
  .greeting-content {
    grid-column: 1/-1;
  }
  .greeting-illustration {
    display: none;
  }
}

@keyframes fly-in-out {
  0% {
    top: 0;
  }

  100% {
    top: -50%;
  }
}
.greeting-illustration {
  max-height: 65vh;
  height: auto;
  min-width: 30vw;
  width: calc(100% - 1rem);
}
.greeting-content {
  max-width: 100%;
  margin: 0 auto;
  width: calc(100% - 2rem);
}
.greeting-content:not(h1) {
  line-height: 1.5;
}
.greeting-content h1,
.greeting-content p {
  color: transparent;
  animation-name: fade-in;

  transition: fade-in 500ms ease;
  animation-fill-mode: forwards;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
}

.greeting-content :nth-child(2) {
  animation-delay: 1000ms;
}
.greeting-content :nth-child(3) {
  animation-delay: 2000ms;
}

@keyframes fade-in {
  from {
    color: transparent;
  }
  to {
    color: #fafafa;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  }
}
/* buttons */
.btn__wrapper--greeting > .btn.btn--primary,
.btn__wrapper--greeting > .btn.btn--secondary {
  transform: translateY(50%);
  visibility: hidden;
  animation: fload-up;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  transition: fload-up 500ms;
}
.btn__wrapper--greeting > .btn.btn--primary {
  animation-delay: 3000ms;
}
.btn__wrapper--greeting > .btn.btn--secondary {
  animation-delay: 4000ms;
}
@keyframes fload-up {
  0% {
    transform: translateY(50%);
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    transform: translateY(-20%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}
/* ------------ end: greeting ------------ */

/* ---------------- about ---------------- */
.about {
  display: grid;
  gap: 1rem 0;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(8vh, max-content) auto auto auto;
}
.about__content,
.about__illustration {
  grid-column: 1/-1;
  justify-self: center;
}
.about__content {
  grid-row: 1/3;
}
.about__illustration {
  display: flex;
  grid-row: 3/-1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.about__illustration__img {
  object-position: bottom;
  max-height: 550px;
  min-height: 200px;
  height: calc(55vw + 2rem);
}

.about-highlight {
  font-weight: 700;
  color: #639d79;
}
.about-link-to-projects {
  text-decoration: underline;
}
.about-link-to-projects:hover {
  color: #ffa100;
}
/* -------------- end: about ------------- */

/* ----------- project-preview ----------- */

.project-preview {
  grid-area: project-preview;
}

.project-preview__wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 2rem 0;
  width: 100%;
  margin: 0 auto;
}

.project-preview-card {
  justify-self: center;
  border-radius: 20px;
  background-color: #fafafa;
  max-height: 400px;
  max-width: 400px;
  min-width: 250px;
  width: calc(90% - 1rem);
  padding-top: 0;
  padding-bottom: 0.5rem;
  transform: scale(1);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  overflow: hidden;
  transition: all ease 0.2s;
}

.project-preview-card:hover {
  transform: scale(1.01);
  box-shadow: 15px 15px 27px -4px rgba(0, 0, 0, 0.75);
}

.project-preview-card__header {
  display: block;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  margin: 0;
  padding: 4px 0;
  font-weight: 700;
  font-size: 14px;
}
.project-preview-card__img {
  padding: 0.5px 0;
}

.project-preview-card__img img {
  height: auto;
  width: 100%;
}

.project-preview-card__text {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: min-content 1fr;
  padding: 1rem 0.8rem;
}
.project-preview-card__text__title {
  font-size: calc(0.2vw + 0.8rem);
  overflow: hidden;
  display: -webkit-box;
  line-height: 1.1;
  text-transform: uppercase;
  padding-top: 0.8rem;
  -webkit-box-orient: vertical;

  /* Limit the text block to lines */
  -webkit-line-clamp: 1;
}
.project-preview-card__text__tag {
  display: inline-block;
  font-weight: 700;
  font-size: 0.8rem;
  width: 100%;
  width: fit-content;
  padding: 0 0.5rem;
}
.project-preview-card__text__tag--HTML-CSS {
  color: #fafafa;
}
.project-preview-card__text__tag--HTML-CSS,
.project-preview-card__text__tag--JS-React {
  background-color: transparent;
  position: relative;
  display: inline-block;
}
.project-preview-card__text__tag--HTML-CSS::before {
  background-color: #ff452d;
}
.project-preview-card__text__tag--HTML-CSS::after {
  background-color: #0397e0;
}
.project-preview-card__text__tag--JS-React::before {
  background-color: #f4d833;
}
.project-preview-card__text__tag--JS-React::after {
  background-color: #63d5ee;
}
.project-preview-card__text__tag--HTML-CSS::before,
.project-preview-card__text__tag--HTML-CSS::after,
.project-preview-card__text__tag--JS-React::before,
.project-preview-card__text__tag--JS-React::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}
.project-preview-card__text__tag--HTML-CSS::before,
.project-preview-card__text__tag--JS-React::before {
  top: 0;
  left: 0;
  border-radius: 5px 0 0 5px;
  /* background-color: red; */
}
.project-preview-card__text__tag--HTML-CSS::after,
.project-preview-card__text__tag--JS-React::after {
  top: 0;
  right: 0;
  border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 700px) {
  .project-preview-card__text__tag,
  .project-preview-card__text__tag--HTML-CSS,
  .project-preview-card__text__tag--JS-React {
    display: none;
  }
}
@media only screen and (max-height: 375.1px) {
  .project-preview-card__text__desc,
  .project-preview-card__text__tag,
  .project-preview-card__text__tag--HTML-CSS,
  .project-preview-card__text__tag--JS-React {
    display: none !important;
  }
}
.project-preview-card__text__desc {
  font-size: calc(0.1vw + 1rem) !important;
  /* multiline-text-shorten */
  overflow: hidden;
  display: -webkit-box;
  line-height: 1.5;
  max-height: calc(1.5 * 3);
  -webkit-box-orient: vertical;

  /* Limit the text block to lines */
  -webkit-line-clamp: 3;
}

/* --------- end: project-preview -------- */

/* ------------- project page ------------ */
.project {
  min-height: 80vh;
  padding: 16px 0;
  display: grid;
  gap: 8px;
  grid-template-areas:
    "img img"
    "img-caption img-caption"
    "description navigation";
  grid-template-columns: minmax(35vw, 1fr) minmax(15vw, 1fr);
  grid-template-rows: 50vh minmax(30px, 3vh) auto;
}
/* responsive layout */
@media only screen and (max-width: 958px) {
  .project {
    min-height: 90vh;
    grid-template-areas:
      "img"
      "img-caption"
      "description"
      "navigation";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: minmax(auto, 1fr);
  }
}
@media only screen and (max-width: 291px) {
  .project-preview__wrapper {
    grid-template-rows: minmax(30vh, 20vh) auto auto auto;
  }
}

.project__img {
  grid-area: img;
}
.prject__img > image {
  height: auto;
}
.project_img-caption {
  grid-area: img-caption;
  -ms-grid-column-span: 2;
}
.project__description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.project__description p {
  font-size: 20px;
  padding-right: 16px;
  margin: 0;
}
.project__navigation-wrapper {
  grid-area: navigation;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.project__navigation {
  display: flex;
  align-items: center;
  margin: 0;
}
.project__navigation a {
  margin: 0;
  padding: 0;
}
.project__navigation-arrow {
  border: 1.5px solid whitesmoke;
  margin: 2px 8px 2px 2px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.arr-forward {
  margin-bottom: 8px;
}
/* ---------- end: project page ---------- */

/* --------------- contact --------------- */
.contact {
  display: block;
}
.contact-wrapper {
  display: grid;
  grid-template-columns: 5vw repeat(2, minmax(auto, 1fr)) 5vw;
  grid-template-areas:
    ". contact__info contact__form ."
    "contact__img contact__img contact__img contact__img";
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}

.contact__info {
  grid-area: contact__info;
  display: flex;
}
.contact__info__logo {
  max-width: 150px;
  width: calc(50% - 1rem);
}
.contact__form {
  max-width: 60vw;
  grid-area: contact__form;
  justify-self: center;
  width: 100%;
}
.contact__illustration {
  grid-area: contact__img;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__illustration__img {
  max-width: 80ch;
  /* object-fit: cover; */
}

/* contact form */
.contact__form__field,
.contact__form__submit {
  padding: 0.5rem;
}
.contact__form__field {
  /* width: calc(100% - 1.5rem); */
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact__form__field:first-child .contact__form__field__label {
  padding-top: 0;
}
.contact__form__field__input {
  border: 0px;
  padding: 0.4rem !important;
  background-color: #fdf4f1;
}
.contact__form__field::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 50%;
  width: 0;
  transform: translateX(-50%);
  background-color: #639d79;
  transition: width ease-in-out 300ms;
}
.contact__form__field:focus-within.contact__form__field::after {
  width: 100%;
}
textarea.contact__form__field__input {
  min-height: 150px !important;
}

/* contact responsive */
@media only screen and (max-width: 768px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "contact__form"
      "contact__info"
      "contact__img";
  }

  .contact__form {
    max-width: 80vw;
    width: calc(100% - 1rem);
  }
}
/* ------------- end: contact ------------ */

/* ----------- NOTE responsive ----------- */

@media only screen and (max-width: 700px) {
  header {
    background: rgb(42, 245, 152) !important;
  }
  /*  .container-fluid {
    padding: 0.5rem 1rem !important;
  } */
  /* .about {
    height: 100vh;
  } */

  /* .greeting {
    height: 100vh;
  } */
  /* 
  .contact {
    flex-wrap: wrap;
    height: 70vh;
    justify-content: center;
  } */
}
@media only screen and (max-width: 480px) {
  /* ---------------- header --------------- */

  header .shadow::after {
    display: none;
  }
  /* --------------- greeting -------------- */

  /* .greeting__btn p {
    font-size: 12px;
  } */

  /* ---------------- about ---------------- */
  /* .about {
    min-height: 70vh;
  } */
  /* .about p {
    text-align: left;
  } */

  /* --------------- projects -------------- */

  /* .project-preview {
    min-height: 80vh;
  }

  .project-preview p {
    font-size: 5vw;
  }
  .project-preview span {
    font-size: 4vw;
  }

  .project-preview-card__text a span {
    font-size: 18px !important;
  } */
  .project-preview-card__text p {
    display: none;
  }
  .project-preview-card__text {
    padding-bottom: 0;
    text-align: center;
  }

  /* --------------- contact --------------- */

  /* ---------------- footer --------------- */
  footer {
    text-align: center;
    font-size: 0.8rem;
    /* color: whitesmoke, */
    /* max-width: 1600; */
    margin: 0 auto;
    padding: 0px 1.0875rem 1.45rem;
  }
}
