/* ---------------- global --------------- */
html {
  scroll-behavior: smooth !important;
}
html,
body {
  font-family: "Open Sans", sans-serif !important;
  line-height: 1.5;
  /* font-size: 16px; */
  position: absolute;
  margin: 0 auto;
  width: 100%;
  /* overflow-x: hidden; */
}

/* body {
  background: #08aeea; 
 
  background: -webkit-linear-gradient(
    0deg,
    #0841ab 0%,
    #08aeea 45%,
    #2af598 100%
  ); 
  background: linear-gradient(
    0deg,
    #0841ab 0%,
    #08aeea 45%,
    #2af598 100%
  ); 
} 
*/

/* body a {
  color: whitesmoke;
  text-decoration: none;
} */

/*  buttons  */
.btn__wrapper {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  color: whitesmoke;
}
/* .greeting > .greeting-btn {
  padding: 48px;
} */
/* .back-to-top__btn > p, */

.hidden {
  opacity: 0;
  transition: linear 0.3s 0.2s;
}
button.btn {
  cursor: pointer;
  display: flex;
  /* height: 56px;
  width: 56px;
  border-radius: 50%; */
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
  font-size: 0.8rem;
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
}

.btn--primary {
  background-color: #ffa100;
  border: 1px solid transparent;

  letter-spacing: 0.094em;
  color: #101010;
}
.btn-primary:hover {
  background-color: #8eb0ff;
}
.btn-outlined {
  background-color: #fff;
  border: 2px solid #ffa100;
  color: #161616;
}

/* typography */
#my-name,
#my-name-eng {
  font-weight: 700;
}
#my-name {
  font-size: calc(0.8vw + 1.7rem);
}
#my-name-eng {
  font-size: calc(0.8vw + 1.2rem);
}
.typography-fluid h1 {
  font-size: calc(0.8vw + 1.5rem);
  margin-bottom: calc(0.1vh + 0.5rem) !important;
  line-height: 1.2;
}
.typography-fluid p,
.typography-fluid--greeting p {
  line-height: 1.5;
}
.typography-fluid p {
  font-size: calc(0.3vw + 1rem);
}
.typography-fluid--greeting p {
  font-size: calc(0.5vw + 1rem);
  /* font-weight: 700; */
}

p {
  margin-bottom: 0 !important;
}
nav span {
  font-weight: 700;
  color: #161616;
}
.section-title {
  color: #413f3f;
  text-align: center;
  display: block;
  line-height: 1.2;
  padding-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 700;
}
.greeting-content,
.about,
.project-preview,
.project,
.contact {
  color: #161616;
}
.about h2,
.project-preview h2,
.contact h2 {
  text-align: left;
  font-size: 48px;
  margin: 0;
}
/* .about p, */
.contact p {
  font-size: 24px;
  line-height: 2;
  line-break: loose;
}
.about a,
.project-preview a,
.project a {
  font-weight: 700;
  /* color: whitesmoke; */
  text-decoration: none;
}
/* layout */

.section-icon__container {
  margin: 0 auto;
  display: block;
  padding: 2.5rem;
  /* max-width: 10vw; */
  width: calc(8vw + 8rem);
  opacity: 0.25;
}

.section-icon__icon {
  display: block;
  width: 100%;
}
.container-fluid {
  position: relative;
  /*  display: flex;
  align-items: center;
  flex-direction: column; */
  max-width: 1600px;
  width: calc(100vw - 2.5rem);
  margin: 0 auto;
  /* padding: 1rem 2rem; */
}
.container-fluid--dark {
  background-color: #e0eef1;
  margin: 0 calc(-50vw + 50%);
  max-width: 100vw !important;
  width: 100vw;
}

.content-wrapper {
  max-width: 80ch;
  margin: 0 auto;
}
.content-wrapper p {
  text-align: justify;
}
/* ------------- end: global ------------- */

/* ---------------- header --------------- */
header {
  transition: linear 0.3s 0.2s;
  margin-bottom: 1.45rem;
  position: fixed;
  width: 100%;
  top: -1px;
  z-index: 15;
}
.header-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-title img {
  object-fit: cover;
  object-position: center;
  max-height: 3rem;
  min-width: 6rem;
  margin: 0;
}
header:hover {
  background: #29f399;
}
/* header h3 {
  font-size: 24px;
  font-weight: 300;
} */

.shadow::after {
  /* position: absolute; */
  height: 110%;
  content: "";

  top: -5px;
  left: -1px;
  z-index: -1 m;
  width: 100%;
  overflow: hidden;
}
.shadow {
  background-color: #29f398b9;

  box-shadow: 0px 4px 13px -1px rgba(59, 44, 59, 0.75);
  transition: ease-in-out 300ms 200ms;
}

nav {
  z-index: 20;
  display: flex;
}
nav :not(:last-child) {
  margin-right: 1rem;
}
.nav-active span {
  color: red;
}
/* @media only screen and (max-width: 480px) {
} */
/* ------------- end: header ------------- */

/* --------------- greeting -------------- */

.greeting__background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #00c9ff, #92fe9d);
  max-height: 70vh;
  height: 100%;
  width: 100%;
  /* min-width: 600px; */

  clip-path: ellipse(0% 0% at 50% 0%);
  /* transform: scaleX(1); */

  z-index: -1;
  animation-delay: 1000ms;
  animation-name: grow;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  transition: all 1s;
}
@keyframes grow {
  from {
    clip-path: ellipse(0% 0% at 50% -5%);
    /* transform: scaleX(1); */
  }
  to {
    clip-path: ellipse(140% calc(90% - 1rem) at 50% 0%);
    /* transform: scaleX(2.5); */
  }
}

.greeting {
  height: auto;

  min-height: 55vh;
  max-height: 70vh;
  /* position: relative; */

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  z-index: 0;
  background-color: transparent;
}
/* greeting animations */
.greeting__curtain {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(0deg, #71eed3 0%, #2af598 100%);
  height: 100vh;
  width: 100%;
  animation-name: fly-in-out;
  animation-delay: 500ms;
  animation-duration: 1000ms;
  transition: all 500ms ease-in;
  animation-fill-mode: forwards;
}
@keyframes fly-in-out {
  0% {
    top: 0;
  }

  100% {
    top: -50%;
  }
}

.greeting-content:not(h1) {
  line-height: 1.5;
}
.greeting-content h1,
.greeting-content p {
  color: transparent;
  animation-name: fade-in;

  transition: fade-in 500ms ease;
  animation-fill-mode: forwards;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
}
.greeting-content h1 {
  font-weight: 500;
  /* font-size: 2.5rem; */
  animation-delay: 2000ms;
}
.greeting-content :nth-child(2) {
  animation-delay: 3000ms;
}
.greeting-content :nth-child(3) {
  animation-delay: 4000ms;
}

@keyframes fade-in {
  from {
    color: transparent;
  }
  to {
    color: inherit;
  }
}
/* buttons */
.btn__wrapper--greeting > .btn.btn--primary {
  transform: translateY(50%);
  opacity: 0;
  animation: fload-up;
  animation-duration: 800ms;
  /* animation-timing-function: cubic-bezier(0, 0.34, 0, 1.57); */
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  transition: fload-up 500ms;
  animation-delay: 5000ms;
}
@keyframes fload-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    transform: translateY(-20%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* ------------ end: greeting ------------ */

/* ---------------- about ---------------- */
.about {
  grid-area: about;
  /* margin: 0 auto; */
  /* padding: 32px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}
/* .about > h2 {
  text-align: left;
} */

.about > p,
.contact > p {
  padding-top: 16px;
  /* font-size: 24px; */
  /* line-height: 2; */
  line-break: strict;
  word-wrap: break-word;
  word-break: normal;
  text-align: justify;
}
.about-highlight {
  font-weight: 700;
  color: #639d79;
}
.about-link-to-projects {
  text-decoration: underline;
}
.about-link-to-projects:hover {
  color: #ffa100;
}
/* -------------- end: about ------------- */

/* ----------- project-preview ----------- */

.project-preview {
  display: flex;
  flex-direction: column;
  grid-area: project-preview;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
}
.project-preview h2 {
  align-self: flex-start;
}
.project-preview__wrapper {
  display: flex;
  padding: 16px 8px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* gap: 16px 32px; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}

.project-preview-card {
  border: 1px solid white;
  border-radius: 4px;
  max-height: 400px;
  max-width: 300px;
  width: 250px;
  padding: 8px 0;
  margin: 16px 8px 0 8px;
  overflow: hidden;
  transition: all ease 0.2s;
}

.project-preview-card:hover {
  -webkit-box-shadow: 15px 15px 27px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 15px 27px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 15px 15px 27px -4px rgba(0, 0, 0, 0.75);
}

.project-preview-card__header {
  display: block;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  margin: 0;
  padding: 4px 0;
  font-weight: 700;
  font-size: 14px;
}
.project-preview-card__img {
  padding: 0.5px 0;
}

.project-preview-card__img img {
  height: auto;
  width: 100%;
}

.project-preview-card__text {
  display: grid;
  min-height: 15vh;
  grid-template-rows: minmax(80px, auto) 1fr;
  padding: 24px 8px;
}
.project-preview-card__text span {
  font-size: 24px;
}
.project-preview-card__text p {
  font-size: 14px;
  /* multiline-text-shorten */
  overflow: hidden;
  display: -webkit-box;
  line-height: 1.5;
  max-height: calc(1.5 * 3);
  -webkit-box-orient: vertical;

  /* Limit the text block to lines */
  -webkit-line-clamp: 3;
}

/* --------- end: project-preview -------- */

/* ------------- project page ------------ */
.project {
  min-height: 80vh;
  padding: 16px 0;
  display: grid;
  gap: 8px;
  grid-template-areas:
    "img img"
    "img-caption img-caption"
    "description navigation";
  grid-template-columns: minmax(35vw, 1fr) minmax(15vw, 1fr);
  grid-template-rows: 50vh minmax(30px, 3vh) auto;
}
/* responsive layout */
@media only screen and (max-width: 958px) {
  .project {
    min-height: 90vh;
    grid-template-areas:
      "img"
      "img-caption"
      "description"
      "navigation";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: minmax(auto, 1fr);
  }
}
@media only screen and (max-width: 291px) {
  .project-preview__wrapper {
    grid-template-rows: minmax(30vh, 20vh) auto auto auto;
  }
}

.project__img {
  grid-area: img;
}
.prject__img > image {
  height: auto;
}
.project_img-caption {
  grid-area: img-caption;
  -ms-grid-column-span: 2;
}
.project__description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.project__description p {
  font-size: 20px;
  padding-right: 16px;
  margin: 0;
}
.project__navigation-wrapper {
  grid-area: navigation;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.project__navigation {
  display: flex;
  align-items: center;
  margin: 0;
}
.project__navigation a {
  margin: 0;
  padding: 0;
}
.project__navigation-arrow {
  border: 1.5px solid whitesmoke;
  margin: 2px 8px 2px 2px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.arr-forward {
  margin-bottom: 8px;
}
/* ---------- end: project page ---------- */

/* --------------- contact --------------- */
.contact {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 50vh;
}
.contact__my-logo {
  height: auto;
  width: 250px;
  align-self: center;
}
.contact p {
  margin-bottom: 0;
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.contact__detail-wrapper,
.contact__media-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact__detail-wrapper {
  justify-content: flex-start;
  padding-bottom: 16px;
}

.contact__contact,
.contact__media {
  display: flex;
  align-items: center;
}
.contact__contact {
  justify-content: center;
  padding-right: 16px;
  padding-left: 0;
}
.contact__contact span {
  padding-right: 8px;
  font-weight: 700;
}
.contact__media {
  transition: ease 0.2s;
}
.contact__media:hover {
  transform: scale(1.2);
}

/* ----------- NOTE responsive ----------- */

@media only screen and (max-width: 1600px) {
  header {
    padding: 8px;
  }
  header .site-title {
    display: none;
  }
  .contact__detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 700px) {
  header {
    background: rgb(42, 245, 152) !important;
  }
  /*  .container-fluid {
    padding: 0.5rem 1rem !important;
  } */
  .about {
    height: 100vh;
  }

  /* .greeting {
    height: 100vh;
  } */

  .contact {
    flex-wrap: wrap;
    height: 70vh;
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .container-fluid {
    /* padding: 4px 8px !important; */
    overflow: hidden;
  }
  .about h2,
  .project-preview h2,
  .contact h2 {
    font-size: 8vw !important;
    text-align: center;
  }
  .project-preview h2 {
    align-self: center;
  }
  /* ---------------- header --------------- */

  header h3 {
    font-size: 4vw;
    font-size: calc(100% + 1vw);
  }
  header .shadow::after {
    display: none;
  }
  /* --------------- greeting -------------- */

  /* .greeting__btn p {
    font-size: 12px;
  } */

  /* ---------------- about ---------------- */
  .about {
    min-height: 70vh;
  }
  /* .about p {
    text-align: left;
  } */
  .about p,
  .contact p {
    font-size: 5vw;
  }
  /* --------------- projects -------------- */

  .project-preview {
    min-height: 80vh;
  }

  .project-preview p {
    font-size: 5vw;
  }
  .project-preview span {
    font-size: 4vw;
  }

  .project-preview-card__text a span {
    font-size: 18px !important;
  }
  .project-preview-card__text p {
    display: none;
  }
  .project-preview-card__text {
    padding-bottom: 0;
    text-align: center;
  }

  /* --------------- contact --------------- */

  .contact p {
    text-align: center;
  }
  .contact__wrapper,
  .contact__detail-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact__my-logo {
    width: 180px;
  }
  .contact__contact {
    flex-direction: column;
  }
  .contact span {
    line-height: 1;
  }
  .contact__media-wrapper {
    padding: 0 4px;
    justify-content: center;
  }
  .contact__media svg {
    font-size: 55px !important;
  }
  .contact__media:hover {
    transform: scale(1) !important;
  }
  .contact__media-wrapper :nth-child(3) svg {
    font-size: 53px !important;
  }
  /* ---------------- footer --------------- */
  footer {
    text-align: center;
    font-size: 0.8rem;
    /* color: whitesmoke, */
    /* max-width: 1600; */
    margin: 0 auto;
    padding: 0px 1.0875rem 1.45rem;
  }
}
